$background-color : white;
$primary-color : #9356DC;
$green-color : #99E2D0;
$grey-color : #353535;
$light-grey-color : #f6f6f6;
$grey-alternate-color : #7E7E7E;
$pink-gradient-color : #FF79DA;


@mixin linearGradient {
    background-image:linear-gradient(to top, $primary-color, $pink-gradient-color);
}

@mixin gradientTxt {
    color: linear-gradient(to top, $primary-color, $pink-gradient-color);
}