@keyframes appears {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin delay-appear {
    @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 150ms * $i;
        }
    }
}