@use "../annexe/colorgradient.scss";
@use "../annexe/boxshadow.scss";
@use "../annexe/btn.scss";



.search {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  @include boxshadow.boxshadowsoft;


&__container {
  display: flex;
  margin-left: 55px;
  justify-content: center;
  align-items: center;
}

.fa-location-dot {
  color: #353535;
  margin-right: 10px;
}

.search-input {
  font-family: roboto, sans-serif;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #EAEAEA;
}

.search-input::placeholder {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
}

.intro {
  text-align: center;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: colorgradient.$light-grey-color;


  & h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
  }

  & p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
  }

  & a {
    @include btn.btn;
  }
}