@use "../annexe/colorgradient.scss";
@use "../annexe/boxshadow.scss";
@use "../annexe/breakpoint.scss";


.proper-functionning {
  padding: 48px 0;
  padding-left: 8%;
  width: 90%;

  h2 {
    margin-left: 20px;

    @media (min-width: breakpoint.$large-screen) {
      margin-left: 10%;
      margin-bottom: 30px;
    }
  }


  & ol {
    display: flex;
    gap: 25px;
    counter-reset: count;
    flex-direction: column;
    padding-right: 40px;
    list-style: none;

    @media (min-width: breakpoint.$large-screen) {
      flex-direction: row;
      padding-right: 25px;

    }

  }

  & li {

    position: relative;
    @include boxshadow.boxshadowsoft;
    gap: 20px;
    background-color: colorgradient.$light-grey-color;
    border-radius: 25px;
    width: 126%;
    font-weight: 500;
    padding: 24px 0;
    text-align: center;
    white-space: nowrap;
    left: -26px;

    @media (min-width: breakpoint.$medium-screen) {
      flex-grow: 1;

    }

    @media (min-width: breakpoint.$large-screen) {
      left: 60px;
      text-align: left;
      padding-left: 15px;
    }

    &::before {
      content: counter(count);
      counter-increment: count 1;
      position: absolute;
      left: -12px;
      width: 24px;
      height: 24px;
      background-color: colorgradient.$primary-color;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

  }



}

.fa-mobile-screen-button {
  color: colorgradient.$grey-alternate-color;
  margin: 0 27px;

  @media (min-width: breakpoint.$large-screen) {
  margin: 0 27px 0 15px;
    }
}

.fa-list-ul {
  color: colorgradient.$grey-alternate-color;
  margin: 0 27px 0 15px;
}



.fa-store {
  color: colorgradient.$primary-color;
  margin: 0 27px 0 15px;
}