@use "../annexe/boxshadow.scss";



header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0;
    position: relative;
    @include boxshadow.boxshadowsoft;
}

header img {
    width: 197px;
    height: auto;
}